// ------------------------------------------------------------------------------------------------------
/// Checkcard
/* Example Comment Include with SASSpilation */
.tt-checkcard {
    background: $gray-light;
    
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}
.tt-checkcard-status {
    border: 1px solid white;
}
