$gray-light: #4e5d6c;
$gray-lighter: #ebebeb;
$brand-info: #5bc0de;
$brand-primary: #df691a;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$body-bg: #2b3e50;
$navbar-default-bg: #4e5d6c;