/// Gray Light <div style='width:25px;height:25px;background-color:#4e5d6c;'></div>
/// @group Colors
/// @todo  Find a better way to specify all of this. It is interesting that we can inline html
$gray-light: #4e5d6c;
$gray-lighter: #ebebeb;
$brand-info: #5bc0de;
$brand-primary: #df691a;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$body-bg: #2b3e50;
$navbar-default-bg: #4e5d6c;