.tt-menubar-burger {
    position: fixed; 
    padding: 10px 10px 10px 10px;
    top: 0px;
    right: 10px; 
    height: 50px;
    width: 40px; 
    background: $brand-primary;
    color: white;
    font-size: 16pt;
    text-align: center;
    transition: width ease .5s; // fluid transition when resizing
    z-index: 1030 !important; //bootswatch navbar appears to be 1030ish
    a {
        color: white;
        &:hover {
            color: $brand-warning;
        }
    }
}

.tt-menubar-menu {
    position: fixed; 
    padding: 30px 10px 10px 10px;
    top: 24px;
    right: -60px; 
    height: 100%;
    width: 60px; 
    background: $gray-medium;
    text-align: center;
    
    -moz-transition: right .1s;
    -webkit-transition: right .1s;
    -o-transition: right .1s;
    transition: right .1s;
    
    body.open-nav & { width: 250px;}
}

.tt-menubar-menuslideout {
    position: fixed; 
    padding: 30px 10px 10px 10px;
    top: 24px;
    right: 0px; 
    height: 100%;
    width: 60px; 
    background: $gray-medium;
    text-align: center;
    // transition: width ease .5s; 
    border-left: 1px solid black;
  
    -moz-transition: right .3s;
    -webkit-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;  
}

.tt-menubar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
    margin-bottom: 25px;
    }
}
.tt-menubar-menu a {
    // color: shade(darkslategray, 50%);
    // border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: color ease .35s, border-bottom-color ease .35s;
    &:hover {
    color: white;
    }
    &.open {
    font-size: 1.75rem;
    font-weight: 700;
    border: 0;
    }
}

.tt-menubar-menu .info a {
    // color: shade(darkslategray, 50%);
    // border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: color ease .35s, border-bottom-color ease .35s;
    color: $brand-info;
    font-size: 2.25rem;
    &:hover {
    color: white;
    }
    &.open {
    font-size: 1.75rem;
    font-weight: 700;
    border: 0;
    }
}