/// This is an example of blue in color pallette
$color1 : #00f;
/// This is an example of red in color pallette
$color2 : #f00;

h1 {
    color: $color2;
    background-color: $color1;
    padding: 0.5em;
}